<section class="section">

    <div class="container">

        <div class="about-me-header">
            <h2 class="about-tittle"> I work with people all over <br> the world to create <br> impressive and <span class="functional">functional</span>
                <br> <span class="websites">websites</span> that reflect each <br> client's unique
                personality.
            </h2>

            <img class="img-about" 
            srcset="" 
            src="./img/vite-logo.png" 
            alt="Lloyd Jefferson">

        </div>

        <div class="accordion-container">
                    
                <ul class="ac-panel">
                    
                    <li class="ac-list">
                    <div class="ac">
                        <h2 class="ac-header">ABOUT ME</h2>    
                        <button type="button" class="ac-trigger">
                            <svg class="icon-answer" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                                <rect width="35" height="35" x="-.5" y=".5" stroke="#FAFAFA" stroke-opacity=".2" rx="17.5"
                                    transform="matrix(1 0 0 -1 1 36)" />
                                <path class="icon-color" stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
                            </svg>

                        </button>
                    </div>
                        <p class="ac-text_1">
                            I am Lloyd Jefferson, a talented programmer with extensive expertise in software
                        development. I have an understanding of
                        different programming languages ​​and technologies, always ready to improve my skills. I always
                        follow the latest trends
                        and look for unconventional, creative solutions to problems. I have a high level of analytical
                        skills and am able to
                        effectively solve even the most difficult tasks encountered on the way.
                        </p>
                        <p class="ac-text_1">
                        Able to work both independently and in a team. I can effectively cooperate with colleagues,
                        exchanging ideas and finding
                        optimal solutions. Professional maturity allows you to calmly cope with challenges and stressful
                        situations, while
                        maintaining a high quality of work.I am always looking for opportunities for self-improvement. I
                        actively study new
                        technologies and practices to stay abreast of the latest innovations. I have a strong
                        understanding of various
                        programming languages, frameworks and architectural concepts that allow me to create efficient
                        and scalable software.
                        </p>

                    </li>
                </ul>
            

                <ul class="ac-panel">

                    <li class="ac-list" >
                        <div class="ac">
                    <h2 class="ac-header">ROLE</h2>
                    <button type="button" class="ac-trigger">
                        <svg class="icon-answer" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                            <rect width="35" height="35" x="-.5" y=".5" stroke="#FAFAFA" stroke-opacity=".2" rx="17.5"
                                transform="matrix(1 0 0 -1 1 36)" />
                            <path class="icon-color" stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
                        </svg>

                    </button>
                    </div>  
                        <p class="ac-text">Frontend development</p>
                        <p class="ac-text">HeadlessCMS,Wordpress</p>
                        <p class="ac-text">Blender(enjoy)</p>
                    </li>
                </ul>
            

                <ul class="ac-panel">
                    <div class="ac">
                <h2 class="ac-header">EDUCATION</h2>
                <button type="button" class="ac-trigger">
                    <svg class="icon-answer" xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="none">
                        <rect width="35" height="35" x="-.5" y=".5" stroke="#FAFAFA" stroke-opacity=".2" rx="17.5"
                            transform="matrix(1 0 0 -1 1 36)" />
                        <path class="icon-color" stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
                    </svg>

                </button>
                    </div>
                    <li class="ac-text">2018 - 2019 / Frontend Development Diploma, GoIT IT<br> School, New York</li>
                    <li class="ac-text">2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br> School, New York</li>
                    <li class="ac-text">2020 - 2022 / Advanced Blender Animation Techniques, Udemy</li>
                </ul>
            </div>








        <div class="swiper-project">
            
            <ul class="swiper-wrapper">
               
                <li class="swiper-slide">HTML/CSS</li>
                <li class="swiper-slide">JavaScript</li>
                <li class="swiper-slide">React</li>
                <li class="swiper-slide">Node.js</li>
                <li class="swiper-slide">React Native</li>
                <li class="swiper-slide">Soft skills</li>

            <div class="swiper-button-prev">
                <button type="button" class="ac-trigger-prev">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="none">
                        <path stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M26.667 16H5.333M13.333 24l-8-8 8-8" />
                    </svg>
                </button>
            </div>
            
            <div class="swiper-button-next">
                <button type="button" class="ac-trigger-next">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none">
                        <path stroke="#3B3B3B" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M6.667 20h26.666M23.334 10l10 10-10 10" />
                    </svg>
                </button>
            </div>
        </div>




    </div>

</section>