<section class="section">
  <div class="container about-me-container">
    <h2 class="is-hidden">ABOUT ME</h2>
    <div class="introducing">
      <div class="about-me-header">
        <h2 class="about-tittle">
          I work with people all over the world to create impressive and
          <span class="functional">functional</span>
          <span class="websites">websites</span> that reflect each client's
          unique personality.
        </h2>
      </div>
      <div class="about-image-thumb">
        <img
          class="img-about"
          src="./img/about_me/image_tel.jpg"
          srcset="
              ./img/about_me/image_tel.jpg                   343w,
              ./img/about_me/image_tablet.jpg                704w,
              ./img/about_me/image_laptop.jpg                680w,
              ./img/about_me/image_tel@2x.jpg                686w
              ./img/about_me/image_tablet@2x.jpg             1408w,
              ./img/about_me/image_laptop@2x.jpg             1360w
              "
          sizes=" (min-width: 1440px) 680px, (min-width: 768px) 704px, (max-width: 767px) 343px"
          alt="Lloyd Jefferson"
        />
      </div>
    </div>

    <div class="about-list">
      <ul class="about-me-list">
        <li class="ac-list-item ac">
          <div class="header-thumb-ac">
            <h3 class="about-me-ac-header ac-header">ABOUT ME</h3>
            <button type="button" class="accordion-btn ac-trigger">
              <svg class="accordion-svg">
                <use
                  class="icon-arrow-down"
                  href="./img/icons.svg#icon-arrow-down"
                />
              </svg>
            </button>
          </div>

          <div class="ac-side-panel ac-panel">
            <p class="ac-side-text ac-text ac-side-text-one">
              I am Lloyd Jefferson, a talented programmer with extensive
              expertise in software development. I have an understanding of
              different programming languages and technologies, always ready to
              improve my skills. I always follow the latest trends and look for
              unconventional, creative solutions to problems. I have a high
              level of analytical skills and am able to effectively solve even
              the most difficult tasks encountered on the way.
            </p>
            <p class="ac-side-text ac-text">
              Able to work both independently and in a team. I can effectively
              cooperate with colleagues, exchanging ideas and finding optimal
              solutions. Professional maturity allows you to calmly cope with
              challenges and stressful situations, while maintaining a high
              quality of work. I am always looking for opportunities for
              self-improvement. I actively study new technologies and practices
              to stay abreast of the latest innovations. I have a strong
              understanding of various programming languages, frameworks and
              architectural concepts that allow me to create efficient and
              scalable software.
            </p>
          </div>
        </li>

        <li class="ac-list-item ac">
          <div class="header-thumb-ac">
            <h3 class="about-me-ac-header ac-header">ROLE</h3>
            <button type="button" class="accordion-btn ac-trigger">
              <svg class="accordion-svg">
                <use href="./img/icons.svg#icon-arrow-down" />
              </svg>
            </button>
          </div>
          <ul class="ac-side-panel ac-panel">
            <li class="ac-side-text ac-text">Frontend development</li>
            <li class="ac-side-text ac-text">HeadlessCMS,Wordpress</li>
            <li class="ac-side-text ac-text">Blender(enjoy)</li>
          </ul>
        </li>

        <li class="ac-list-item ac">
          <div class="header-thumb-ac">
            <h3 class="about-me-ac-header ac-header">EDUCATION</h3>
            <button type="button" class="accordion-btn ac-trigger">
              <svg class="accordion-svg">
                <use href="./img/icons.svg#icon-arrow-down" />
              </svg>
            </button>
          </div>
          <ul class="ac-side-panel ac-panel">
            <li class="ac-side-text ac-text">
              2018 - 2019 / Frontend Development Diploma, GoIT IT<br />
              School, New York
            </li>
            <li class="ac-side-text ac-text">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT <br />
              School, New York
            </li>
            <li class="ac-side-text ac-text">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="swiper-about-container">
      <div class="swiper-about swiper">
        <ul class="skills-list swiper-wrapper">
          <li class="skill-item swiper-slide active-slide">
            <p class="skill-text">HTML/CSS</p>
          </li>
          <li class="skill-item swiper-slide">
            <p class="skill-text">JavaScript</p>
          </li>
          <li class="skill-item swiper-slide">
            <p class="skill-text">React</p>
          </li>
          <li class="skill-item swiper-slide">
            <p class="skill-text">Node.js</p>
          </li>
          <li class="skill-item swiper-slide">
            <p class="skill-text">React Native</p>
          </li>
          <li class="skill-item swiper-slide">
            <p class="skill-text">Soft skills</p>
          </li>
        </ul>
        <button
          type="button"
          class="swiper-skills-btn swiper-button-next btn-next"
        >
          <svg class="swipe-arrow">
            <use
              class="swipe-arrow-icon"
              href="./img/icons.svg#icon-arrow-narrow-right"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
