<!-- REVIEWS-->

<section class="section" id="reviews">
  <div class="container swiper">
    <h2 class="reviews-section-title">Reviews</h2>
    <div class="swiper-container">
      <ul class="reviews-list list swiper-wrapper"></ul>
    </div>

    <div class="button-container swiper-pagination">
      <button type="button" class="swipe-btn swiper-button-prev">
        <svg class="btn-svg" transform="scale(-1, 1)">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>

      <button type="button" class="swipe-btn swiper-button-next">
        <svg class="btn-svg">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
