<section class="section">
    <div class="static-section">
        <div class="div-rotate">
            <ul class="image-container left">
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_five.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_one.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_eigh.jpg" alt="image-projects">
                </li>
            </ul>
            <ul class="image-container right">
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_two.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_seven.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_three.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_four.jpg" alt="image-projects">
                </li>
            </ul>
            <ul class="image-container left">
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_four.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_five.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_six.jpg" alt="image-projects">
                </li>
            </ul> 
            <ul class="image-container right">
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_eigh.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_nine.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_one.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_ten.jpg" alt="image-projects">
                </li>
            </ul>
            <ul class="image-container left">
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_one.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_seven.jpg" alt="image-projects">
                </li>
                <li class="image-class">
                    <img class="image-other" src="./img/covers/image_six.jpg" alt="image-projects">
                </li>
            </ul>
        </div>
    </div>
</section>