<section class="section">
    <div class="static-section">
        <ul class="image-container">
            <li class="image-class">
                <img src="../img/covers/image_one.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_two.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_three.jpg" alt="">
            </li>
        </ul>
        <ul class="image-container">
            <li class="image-class">
                <img src="../img/covers/image_four.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_five.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_six.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_seven.jpg" alt="">
            </li>
        </ul> 
        <ul class="image-container">
            <li class="image-class">
                <img src="../img/covers/image_eigh.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_nine.jpg" alt="">
            </li>
            <li class="image-class">
                <img src="../img/covers/image_ten.jpg" alt="">
            </li>
        </ul>
    </div>
</section>