<section class="section">
  <div class="container">
    <h2 class="title-container" id="faq">FAQ</h2>
    <ul class="faq-list accordion-container">
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">
            What programming language ​​are most often used in your project?
          </h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">
            What are the deadlines for the project?
          </h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">
            What payment methods do you accept?
          </h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">How can I contact you?</h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">
            Do you provide advice or support?
          </h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="faq-item ac">
        <div class="qwestion">
          <h3 class="title-item-list ac-header">
            What does the process of developing a software product look like
            from idea to implementation?
          </h3>
          <button type="button" class="btn-answer ac-trigger">
            <svg
              class="icon-answer"
              xmlns="http://www.w3.org/2000/svg"
              width="36"
              height="36"
              fill="none"
            >
              <rect
                width="35"
                height="35"
                x="-.5"
                y=".5"
                stroke="#FAFAFA"
                stroke-opacity=".2"
                rx="17.5"
                transform="matrix(1 0 0 -1 1 36)"
              />
              <path stroke="#FAFAFA" stroke-width="2" d="m23 15.5-5 5-5-5" />
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="text-item-list ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
