<!-- SECTION HERO -->
<section class="hero-section section">
    <div class="hero-container container">
        <div class="hero-text">
            <h1 class="hero-title"> HELLO.
                <span class="break">I`M FULLSTACK </span>DEVELOPER
                <span class="break">LLOYD </span>JEFFERSON.
            </h1>
        </div>
<div class="hero-social-networks">
<ul class="hero-info-social">
    <li class="hero-list-social list">
        <a class="hero-link-social" href="https://www.instagram.com/goitclub/" target="_blank">
            <svg class="hero-svg-link"  width="37" height="37">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="hero-list-social list">
        <a class="hero-link-social" href="https://www.youtube.com/c/GoIT" target="_blank">
            <svg class="hero-svg-link" width="37" height="37">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="hero-list-social list">
        <a class="hero-link-social" href="https://www.facebook.com/goITclub/" target="_blank">
            <svg class="hero-svg-link" width="37" height="37">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="hero-list-social list">
        <a class="hero-link-social" href="https://github.com/Jey2507/teamwork-eighteen-js" target="_blank">
            <svg class="hero-svg-link" width="37" height="37">
                <use href=""></use>
            </svg>
        </a>
    </li>
    <li class="hero-list-social list">
        <a class="hero-email" href="lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
    </li>
</ul>
</div>





        </div>
    </div>
</section>