<!-- SECTION HERO -->
<section class="hero-section section">
    <div class="hero-container container">
        <div class="hero-text">
            <h1 class="hero-title">
                <span class="break">HELLO. </span>I`M FULLSTACK
                <span class="break">DEVELOPER</span>
                <span class="break">LLOYD</span>JEFFERSON.
            </h1>
        </div>
  <div class="hero-social-networks">
   <ul class="hero-info-social">
        <li class="hero-list-social list">
           <a id="IG" class="hero-link-social" href="https://www.instagram.com/goitclub/"> <h4 class="social-name">IG</h4></a>
        </li>
         <li class="hero-list-social list">
            <a id="FB" class="hero-link-social" href="https://www.facebook.com/goITclub/"> <h4 class="social-name">FB</h4></a>
        </li>
        <li class="hero-list-social list">
            <a id="YT" class="hero-link-social" href="https://www.youtube.com/c/GoIT" > <h4 class="social-name">YT</h4></a>
        </li>
        <li class="hero-list-social list">
             <a id="GH" class="hero-link-social" href="https://github.com/Jey2507/teamwork-eighteen-js" > <h4 class="social-name">GH</h4></a>
         </li>
        <li class="hero-list-social list">
             <a class="hero-email" href="lloydjefferson@gmail.com"> <h4 class="social-name">lloydjefferson@gmail.com</h4></a>
        </li>
    </ul>
    </div>
</section>