<section class="section">
  <div class="container swiper">
    <h2 class="sections-title">Projects</h2>
    <ul class="projects-list swiper-wrapper">
      <li class="projects-list-item swiper-slide">
        <div class="project-info-thumb">
          <ul class="technologies">
            <li class="technologies-item">#react</li>
            <li class="technologies-item">#js</li>
            <li class="technologies-item">#node js</li>
            <li class="technologies-item">#git</li>
          </ul>
          <p class="projects-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="project-link-thumb">
            <a
              class="project-link"
              href="https://github.com/Jey2507/teamwork-eighteen-js"
              >See project</a
            >
          </div>
        </div>
        <div class="project-picture-thumb">
          <img
            class="project-img"
            src="../img/projectss/image_one_tablet_and_laptop.jpg"
            srcset="
              ../img/projectss/image_one_tel.jpg                   311w,
              ../img/projectss/image_one_tablet_and_laptop.jpg     614w,
              ../img/projectss/image_one_tel@2x.jpg                622w,
              ../img/projectss/image_one_tablet_and_laptop@2x.jpg 1228w
            "
            sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
            alt="screenshot of register page from APP"
          />
        </div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="project-info-thumb">
          <ul class="technologies">
            <li class="technologies-item">#react</li>
            <li class="technologies-item">#js</li>
            <li class="technologies-item">#node js</li>
            <li class="technologies-item">#git</li>
          </ul>
          <p class="projects-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="project-link-thumb">
            <a
              class="project-link"
              href="https://github.com/Jey2507/teamwork-eighteen-js"
              >See project</a
            >
          </div>
        </div>
        <div class="project-picture-thumb">
          <img
            class="project-img"
            src="../img/projectss/image_two_tel.jpg "
            srcset="
              ../img/projectss/image_two_tel.jpg                   311w,
              ../img/projectss/image_two_tablet_and_laptop.jpg     614w,
              ../img/projectss/image_two_tel@2x.jpg                622w,
              ../img/projectss/image_two_tablet_and_laptop@2x.jpg 1228w
            "
            sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
            alt="doctor and woman with dog + text petlove"
          />
        </div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="project-info-thumb">
          <ul class="technologies">
            <li class="technologies-item">#react</li>
            <li class="technologies-item">#js</li>
            <li class="technologies-item">#node js</li>
            <li class="technologies-item">#git</li>
          </ul>
          <p class="projects-text">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="project-link-thumb">
            <a
              class="project-link"
              href="https://github.com/Jey2507/teamwork-eighteen-js"
              >See project</a
            >
          </div>
        </div>
        <div class="project-picture-thumb">
          <img
            class="project-img"
            src="../img/projectss/image_three_tel.jpg"
            srcset="
              ../img/projectss/image_three_tel.jpg     311w,
              ../img/projectss/image_three_tel.jpg     614w,
              ../img/projectss/image_three_tel@2x.jpg  622w,
              ../img/projectss/image_three_tel.jpg    1228w
            "
            sizes="(min-width: 768px) 614px, (max-width: 767px) 311px"
            alt="screenshot of register page from APP"
          />
        </div>
      </li>
    </ul>
    <div class="buttons-thumb swiper-pagination">
      <button class="swipe-btn swiper-button-prev" type="button">
        <svg class="btn-svg" transform="scale(-1, 1)">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
      <button class="swipe-btn swiper-button-next" type="button">
        <svg class="btn-svg">
          <use href="../img/icons.svg#icon-arrow-narrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
<script type="module" src="./projects.html"></script>
