<section class="section">
  <div class="container swiper">
    <h2 class="sections-title">Projects</h2>
    <ul class="projects-list swiper-wrapper">
      <li class="projects-list-item swiper-slide">
        <div class="project-info"></div>
        <div class="project-picture"></div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="project-info"></div>
        <div class="project-picture"></div>
      </li>
      <li class="projects-list-item swiper-slide">
        <div class="project-info"></div>
        <div class="project-picture"></div>
      </li>
    </ul>
    <div class="buttons-thumb swiper-pagination">
      <button type="button swiper-button-next"></button>
      <button type="button swiper-button-next"></button>
    </div>
  </div>
</section>
