<section class="section-footer container" id="work_together">
  <div>
      <div class="footer-container">
        <img class="logo-footer" src="./img/header/logo.png" width="44" />
        <h2 class="title-footer">Let's <span class="accenttext">work</span></h2>
      </div>
      <h2 class="title-footer together">together</h2>

    <form id="contact-form" class="form-footer">
        <div class="input-container">
          <input
            type="email"
            class="inputarea"
            name="email"
            id="email"
            required
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
            placeholder="clients@gmail.com"
          />
          <div class="email-validation-msg"></div>
        </div>
      <div class="input-container">
        <input
          type="text"
          class="inputarea"
          name="comments"
          id="comments"
          placeholder="comments"
        />
      </div>
      <button class="btnsubmit" type="submit">Send</button>
    </form>

    <div class="contactarea">
      <a class="link-footer" href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      <a class="link-footer" href="tel:+3801111111111">+380 11 1111 11 11</a>
    </div>
</section>

<div id="modal" class="hidden modal-footer">
  <div id="backdrop" class="modal-container">
        <a class="backdrop">
      <svg class="icon-cross" >
        <use href="./img/icons.svg#icon-x" />
      </svg>
    </a>
    <div class="content-modal">
      <h2 id="modaltitle" class="title">
        Thank you for your interest in cooperation!
      </h2>
      <p id="lowercase" class="lowercase">
        The manager will contact you shortly to discuss further details and
        opportunities for cooperation. Please stay in touch.
      </p>
    </div>
  </div>
</div>
