.about-me-container {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.is-hidden {
  display: none;
}

.introducing {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.about-me-header {
  padding: 32px 32px 272px;
  background-color: var(--cards);
  border-radius: 24px;
}

.about-tittle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.about-image-thumb {
  border-radius: 24px;
  overflow: hidden;
}

.functional {
  color: var(--accent-color);
}

.websites {
  color: var(--section-text);
}

/* ACCORDION */
.about-me-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-thumb-ac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.about-me-ac-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--section-text);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-btn {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordion-svg {
  width: 18px;
  height: 18px;
}

.ac-list-item {
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-side-panel {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.ac-side-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.ac-side-text-one {
  margin-bottom: 20px;
}

.accordion-svg {
  stroke: var(--main-text);
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-active .accordion-svg,
.is-active .about-me-ac-header,
.about-me-ac-header:hover,
.about-me-ac-header:active,
.accordion-svg:hover,
.accordion-svg:active {
  color: var(--accent-color-hover);
  stroke: var(--accent-color-hover);
}

.accordion-btn:hover,
.accordion-btn:active,
.is-active .accordion-btn {
  border: 1px solid var(--accent-color-hover);
}

.is-active .accordion-svg {
  transform: rotate(180deg);
}

.ac .ac-panel {
  overflow: hidden;
  transition-property: height, visibility;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*  SKILLS SWIPER */

.swiper-about-container {
  position: relative;
}

.swiper-about.swiper {
  width: 260px;
  margin: 0;
  position: static;
}

.swiper-skills-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swipe-arrow {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.swiper-skills-btn:hover .swipe-arrow,
.swiper-skills-btn:focus .swipe-arrow {
  stroke: var(--accent-color);
}

.skill-item.swiper-slide {
  max-width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-slide {
  background-color: var(--accent-color);
  border: none;
}

.skill-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

.swiper-skills-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
  padding: 0;
}

.swipe-arrow {
  width: 100%;
  height: 100%;
  stroke: #3b3b3b;
}

.skill-item:hover,
.skill-item:focus {
  background-color: var(--accent-color);
  border: none;
}

@media screen and (min-width: 768px) {
  .about-me-header {
    padding: 64px 64px 436px;
  }

  .about-tittle {
    font-size: 38px;
    line-height: 1.05;
  }

  .about-me-list {
    gap: 32px;
  }

  .ac-list-item {
    padding-bottom: 32px;
  }

  .header-thumb-ac {
    margin-bottom: 8px;
  }

  .accordion-btn {
    width: 40px;
    height: 40px;
    padding: 10px;
  }

  .accordion-svg {
    width: 20px;
    height: 20px;
  }

  .ac-side-text-one {
    margin-bottom: 4px;
  }

  .swiper-about.swiper {
    width: 600px;
  }

  .skill-item.swiper-slide {
    max-width: 200px;
    height: 200px;
  }

  .skill-text {
    font-size: 16px;
  }

  .swiper-skills-btn {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 1440px) {
  .about-me-container {
    gap: 96px;
  }

  .introducing {
    flex-direction: row;
  }

  .about-me-header {
    padding: 64px 64px 436px;
  }

  .about-tittle {
    max-width: 552px;
  }

  .ac-side-panel {
    width: 612px;
    margin-left: auto;
  }

  .ac-side-text-one {
    margin-bottom: 20px;
  }

  .skills-container {
    gap: 72px;
  }

  .skills-list.swiper-wrapper {
    max-width: 1312px;
  }
}
