.about-container {
  display: flex;
  flex-direction: column;
}

.about-me-header {
  padding: 15px 0px;
  position: relative;
  align-items: center;
  gap: 16px;
}

.about-image-thumb {
}
.img-about {
  border-radius: 24px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  width: 343px;
  height: 500px;
}

.about-tittle {
  display: flex;
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  line-height: 28px;
  background: #242527;
  border-radius: 24px;
  width: 343px;
  height: 500px;
  text-transform: uppercase;
  flex-direction: column;
  justify-content: center;
}

.functional {
  color: #ed3b44;
}

.websites {
  color: #3b3b3b;
}

.accordion-container {
  margin-bottom: 96px;
}

.ac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.ac-trigger {
  width: auto;
  background-color: #1c1d20;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ac-header {
  color: rgba(250, 250, 250, 0.4);
  text-align: left;
  font-family: 'InterTight-SemiBold', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  width: 284px;
}

.ac-panel {
  display: block;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-text_1 {
  margin-bottom: 32px;
  text-align: justify;
}

p:last-child {
  margin-bottom: 10px;
}

.ac-text {
  display: none;
  font-size: 16px;
  line-height: 24px;
  margin-left: auto;
  margin-bottom: 8px;
  padding-bottom: 20px;
  text-align: justify;
}

.swiper-wrapper {
  display: none;
  position: relative;
  margin-left: 60px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.2);
  border-width: 1px;
  width: 200px;
  height: 200px;
  position: relative;
}

.swiper-slide:hover {
  background-color: red;
  cursor: pointer;
}
.swiper-button-next {
  display: flex;
  margin-left: 72px;
}

.ac-trigger-next {
  width: auto;
  background-color: #1c1d20;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ac-trigger-next:hover {
  border-radius: 60px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.5);
  border-width: 1px;
  padding: 18px;
  position: relative;
}

.swiper-button-prev {
  display: none;
  position: absolute;
}

.ac-trigger-prev {
  width: auto;
  background-color: #1c1d20;
  border: none;
  padding: 0;
  cursor: pointer;
  left: 0;
}

/* .ac-trigger-prev:hover {
                border-radius: 60px;
                    border-style: solid;
                    border-color: rgba(250, 250, 250, 0.5);
                    border-width: 1px;
                    padding: 18px;
                    position: relative;
                } */
/* 
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .section {
    padding-bottom: 96px;
  }

  .about-me-header {
    gap: 16px;
  }
  .about-tittle {
    display: flex;
    font-size: 38px;
    line-height: 40px;
    width: 704px;
    height: 700px;
  }
  .img-about {
    width: 704px;
    height: 700px;
  }

  .swiper-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }

  .section {
    padding-bottom: 164px;
  }

  .about-me-header {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .about-tittle {
    width: 680px;
    height: 700px;
  }

  .ac-text_1 {
    width: 612px;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .ac-text {
    width: 612px;
    margin-left: auto;
    margin-bottom: 8px;
    padding-bottom: 20px;
  }

  .swiper-wrapper {
    display: flex;
  }
} */
