.about-container {
  display: flex;
  flex-direction: column;
}

.about-me-header {
  padding: 32px;
  padding-bottom: 272px;
  background-color: var(--cards);
  border-radius: 24px;
  margin-bottom: 16px;
}

.about-tittle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}
.about-image-thumb {
  border-radius: 24px;
  overflow: hidden;
  margin-bottom: 32px;
}

.functional {
  color: var(--accent-color);
}

.websites {
  color: var(--section-text);
}

/* ACCORDION */
.about-me-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header-thumb-ac {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.about-me-ac-header {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--section-text);
}

.accordion-btn {
  width: 36px;
  height: 36px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  background-color: transparent;
}

.accordion-svg {
  width: 14px;
  height: 14px;
}

.ac-side-panel {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-side-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
}

p.ac-side-text {
  margin-bottom: 22px;
} 
.is-active .accordion-svg {
  transform: rotate(180deg);
}
.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}


/*  SKILLS SWIPER */

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.skill-item {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  box-sizing: border-box;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  color: var(--main-text);
  padding: 52px 29px;
}

.skill-item:hover,
.skill-item:focus {
  background-color: var(--accent-color);
  border: none;
}

.swiper-skills-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border: none;
}

.swipe-arrow {
  width: 28px;
  height: 28px;
  stroke: #3b3b3b;
}

/* .swiper-button-next {
  display: flex;
  margin-left: 72px;
}

.ac-trigger-next {
  width: auto;
  background-color: #1c1d20;
  border: none;
  padding: 0;
  cursor: pointer;
}

.ac-trigger-next:hover {
  border-radius: 60px;
  border-style: solid;
  border-color: rgba(250, 250, 250, 0.5);
  border-width: 1px;
  padding: 18px;
  position: relative;
}

.swiper-button-prev {
  display: none;
  position: absolute;
}

.ac-trigger-prev {
  width: auto;
  background-color: #1c1d20;
  border: none;
  padding: 0;
  cursor: pointer;
  left: 0;
} */

/* .ac-trigger-prev:hover {
                border-radius: 60px;
                    border-style: solid;
                    border-color: rgba(250, 250, 250, 0.5);
                    border-width: 1px;
                    padding: 18px;
                    position: relative;
                } */
/* 
@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .section {
    padding-bottom: 96px;
  }

  .about-me-header {
    gap: 16px;
  }
  .about-tittle {
    display: flex;
    font-size: 38px;
    line-height: 40px;
    width: 704px;
    height: 700px;
  }
  .img-about {
    width: 704px;
    height: 700px;
  }

  .swiper-wrapper {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }

  .section {
    padding-bottom: 164px;
  }

  .about-me-header {
    flex-direction: row;
    margin-bottom: 96px;
  }

  .about-tittle {
    width: 680px;
    height: 700px;
  }

  .ac-text_1 {
    width: 612px;
    margin-left: auto;
    margin-bottom: 32px;
  }

  .ac-text {
    width: 612px;
    margin-left: auto;
    margin-bottom: 8px;
    padding-bottom: 20px;
  }

  .swiper-wrapper {
    display: flex;
  }
} */
