@media screen and (min-width: 320px) {

    .benefits {
        width: 344px;
        height: 1271px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        padding: 0;
    }

    .main-title-benefits {
        width: 284px;
        height: 24px;
        flex-grow: 0;
        font-family: InterTight;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.32px;
        text-align: left;
        text-transform: uppercase;
        color: rgba(250, 250, 250, 0.4);

    }

    .list-item-benefits {
        flex-grow: 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 24px;
        border-radius: 20px;
        background-color: #242527;
        margin-top: 16px;

    }

    .title-benefits {
        height: 30px;
        align-self: stretch;
        flex-grow: 0;
        font-family: InterTight;
        font-size: 20px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: -0.4px;
        text-align: left;
        color: #fafafa;
        margin-bottom: 8px;
    }

    .text-benefits {
        height: 72px;
        align-self: stretch;
        flex-grow: 0;
        text-align: left;
        font: 500 16px / 1.5 "Inter Tight", sans-serif;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.6);
    }

    .icon-benefits {
        width: 48px;
        height: 48px;
        flex-grow: 0;
        padding: 12px;
        border-radius: 10px;
        background-color: #ed3b44;
        margin-bottom: 64px;
    }

    .text-btn-benefits {
        width: 115px;
        height: 19px;
        flex-grow: 0;
        font-family: InterTight;
        font-size: 16px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: -0.32px;
        text-align: left;
        color: #fafafa;
    }

    .btn-benefits {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 10px;
        border: 1px solid rgba(250, 250, 250, 0.2);
        border-radius: 60px;
        padding: 18px 36px;
        width: 187px;
        height: 55px;
        margin-top: 32px;
    }
}




@media screen and (min-width: 768px) {

    .benefits {
        width: 704px;
        height: 731px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 32px;
        padding: 0;
    }

    .list-benefits {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding: 0;
    }

    .list-item-benefits {
        width: calc(50% - 16px);
        padding: 10px;
        margin-right: 16px;
    }

    .text-benefits {
        letter-spacing: 0em
    }
}

@media screen and (min-width: 1440px) {

    .content-benefits {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 64px;
        width: 680px;
        height: 675px;
    }

    .benefits {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .title-blok {
        font: 600 16px / 1.5 "Inter Tight", sans-serif;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(250, 250, 250, 0.4);

    }
}