.benefits {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.main-title-benefits {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--section-text);

}
.list-benefits{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
        
}

.list-item-benefits {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 20px;
    padding: 24px;
    background: var(--cards);

}

.title-benefits {
    font-family: inherit;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.4px;
    height: 30px;
    align-self: stretch;
    flex-grow: 0;
    text-align: left;
    color: var(--main-text);
    margin-bottom: 8px;
}

.text-benefits {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    height: 72px;
    align-self: stretch;
    flex-grow: 0;
    text-align: left;
    color: var(--section-text);
}

.cards-benefits{
    border-radius: 10px;
    width: 48px;
    height: 48px;
    background-color: var(--accent-color);
    margin-bottom: 64px;
}
.icon-benefits {
    padding: 12px;
    border-radius: 10px;
}

.text-btn-benefits {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.32px;
    width: 115px;
    height: 19px;
    flex-grow: 0;
    text-align: left;
    color: var(--main-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-benefits {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: 1px solid var(--section-text);
    border-radius: 60px;
    width: 187px;
    height: 55px;
    margin-top: 32px;
    cursor: pointer;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-benefits:hover .text-btn-benefits {
    color: var(--accent-color-hover);
}

.btn-benefits:hover {
    border-color: var(--accent-color-hover);
}


@media screen and (min-width: 768px) {
       
    .list-benefits {
        flex-wrap: wrap;
        list-style-type: none;
        flex-direction: row;
    }
        
    .text-benefits {
        width: 296px;
    }
    .btn-benefits {
        margin-top: 64px;
    }
}





@media screen and (min-width: 1440px) {

    .title-blok{
        min-width: 284px;
    }

    .benefits {
        display: flex;
        flex-direction: row;
                
    }

    .content-benefits{
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    
    .list-benefits {    
        justify-content: flex-end;
                 }
    
    .btn-benefits {
        margin-right: 520px;
    }
}
