

.div-rotate {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    transform: rotate(16deg) translate(-50px, -50px)
}

.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: 24px;
 
}

/* .right {
    animation-name: marqueeLineRight;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.left {
    animation-name: marqueeLineLeft;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
} */

.image-other {
    flex-shrink: 0;
    max-width: 282.29px;
    height: 162.94px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
    .static-section {
      width: 100%;
      height: 508px;
      background-image: url("../img/covers/back_tel.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
  }
  

@media screen and (min-width: 375px) {
    .static-section {
        width: 375px;
        height: 508px;
        background-image: url("../img/covers/back_tel.jpg");
      background-repeat: no-repeat;
      background-size: 100%;
      overflow: hidden;
      margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .static-section {
        width: 768px;
        height: 960px;
    }

    .image-other {
        max-width: 544px;
        height: 314px;
    }
    
}

@media screen and (min-width: 1440px) {
    .static-section {
        width: 1440px;
        height: 960px;
        background-image: url("../img/covers/elements_vectors.png");
        background-size: 100%;
    }
    
    .div-rotate {
        transform:  rotate(16deg)  translate(-100px, -350px)
    }

    .image-other {
        max-width: 544px;
        height: 314px;
    }
}

/* @keyframes marqueeLineRight {
    from {
      transform: translateX(0%);
    }
    
    to {
      transform: translateX(-150%);
    }
  }

  @keyframes marqueeLineLeft {
    from {
      transform: translateX(-100%);
    }
    
    to {
      transform: translateX(150%);
    }
  } */