@media screen and (max-width: 374px) {
	.covers-container {
		position: absolute;
		width: 1440px;
		height: 960px;
		left: -497px;
		right: -568px;
		top: 0;
		bottom: -452px;
		background-image: url(../img/_.png);
		background-repeat: no-repeat;
	}
}



.section-title {
	text-align: center;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.37;
	letter-spacing: -0.03em;
	margin-bottom: 40px;
}

.covers-list {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}




.covers-item {
	
		position: absolute;
		width: 282.29px;
		height: 162.94px;
		transform: rotate(16.00deg);

}


@media screen and (min-width: 375px) {
	.covers-container {
		position: absolute;
		width: 1440px;
		height: 960px;
		left: -497px;
		right: -568px;
		top: 0;
		bottom: -452px;
		background-image: url(../img/_.png);
		background-repeat: no-repeat;
	}
}

@media screen and (min-width: 768px) {
	
	.covers-container {

		position: absolute;
		width: 1440px;
		height: 960px;
		left: -337px;
		right: -335px;
		top: 0;
		bottom: 0;
		background-image: url(../src/img/-min.png);
	}

	.covers-list {
		gap: 46px;
	}

	.covers-item {


	width: 544px;
	height: 314px;
	


		flex-basis: calc((100% - 20px) / 2);
	}
}

/*
@media screen and (min-width: 1280px) {
	
}
*/


@media screen and (min-width: 1440px) {
	
	.covers-container {
		position: absolute;
		width: 1440px;
		height: 960px;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.covers-list {
		gap: 66px;
	}

	.covers-item {

	}
}






/* reviews*/

.reviews-list {
	margin-bottom: 32px;
}

.reviews-item {
	display: none;
	max-width: 343px
}



.reviews-section-title {
	color: rgba(250, 250, 250, 0.4);
	font-family: Inter Tight;
	font-size: 16px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -2%;
	text-align: left;
	margin-bottom: 32px;

}

.reviews-item-box {
	position: relative;
	height: 302px;
	display: inline-block;
	padding: 32px 24px 32px 24px;
	border: 1px solid rgba(250, 250, 250, 0.2);
	border-radius: 20px;
}

.reviews-item:nth-child(1) {
	display: block;
}

.reviews-item-img {
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translate(-50%, -50%);
	margin-bottom: 32px;

}

.reviews-item-title {
	color: #fafafa;
	font-family: Inter Tight;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.5;
	letter-spacing: -2%;
	text-align: left;
	margin-bottom: 8px;
	text-transform: uppercase;

}

.reviews-item-desc {
	color: rgba(250, 250, 250, 0.6);
	font-family: Inter Tight;
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	letter-spacing: -2%;
	text-align: left;

}


/** ============================================tablet style===================================**/
@media screen and (min-width: 768px) {

	.reviews-item {
		display: flex;

		width: calc((100% - 16px) / 2);
	}

	.reviews-item:nth-child(3) {
		display: none;
	}


	.reviews-list {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		gap: 16px;

	}


}

/**==================================desktop style===================================**/
@media screen and (min-width: 1280px) {

	.reviews-item {

		width: calc((100% - 52px) / 3);
	}

	.reviews-list {
		gap: 26px;
	}

	.reviews-item:nth-child(3) {
		display: block;
	}
}

@media screen and (min-width: 1440px) {

	.reviews-item {

		max-width: 332px;
		width: calc((100% - 48px) / 4);

	}

}