.title-container {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--section-text);
    margin-bottom: 32px;
}

.qwestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.faq-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item:last-child {
    margin-bottom: 0;
}

.title-item-list {
    width: 265px;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--main-text);
    font-weight: 600;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}


.icon-answer {
    display: block;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    stroke: var(--main-text);
}
.is-active .icon-answer,
.is-active .title-item-list,
.title-item-list:hover,
.title-item-list:active,
.icon-answer:hover,
.icon-answer:active,
.btn-answer:hover .icon-answer {
    color: var(--accent-color-hover);
    stroke: var(--accent-color-hover);
}
.btn-answer:hover,
.btn-answer:active,
.is-active .btn-answer{
    border: 1px solid var(--accent-color-hover);
}


.text-item-list {
    font-family: inherit;
    font-weight: 500 ;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: var(--section-faq-text);
    padding-top: 20px;
}

.btn-answer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hidden {
    display: none;
}

.picture {
    width: 34px;
}

.faq-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    padding: 20px 0;
}


.is-active .icon-answer {
    transform: rotate(180deg);
}
.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);;
}
@media screen and (min-width: 768px) {
    .title-item-list {
        width: 485px;
    }
    
    .text-item-list {
        width: 656px;
        height: 77px;
        padding-top: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .faq-item {
        margin-bottom: 0;
    }
    .title-item-list:first-child {
        width: 574px;
    }
    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }

    .faq-list li {
        flex-basis: calc((100% - 68px)/2);
        box-sizing: border-box;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
    
    .faq-list li:nth-child(1) {
        order: 1;
        border-bottom: none;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }
    .faq-list li:nth-child(2) {
        order: 3;
        border-bottom: none;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }
    .faq-list li:nth-child(3){
        order: 5;
        border-right: 1px solid rgba(250, 250, 250, 0.2);
        padding-right: 31.5px;
    }
    .faq-list li:nth-child(4){
        order: 2;
        border-bottom: none;
        padding-left: 31.5px;
    }
    .faq-list li:nth-child(5){
        order: 4;
        border-right: none;
        border-bottom: none;
        padding-left: 31.5px;
    }
    .faq-list li:nth-child(6){
        order: 6;
        padding-left: 31.5px;
    }

    .text-item-list {
        padding-top: 26px;
    }

}