.title-container {
    font-family: inherit;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-bottom: 32px;
}

.qwestion {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.faq-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
}


.faq-item:first-child {
    border-top: 1px solid rgba(250, 250, 250, 0.2);
}

.faq-item:last-child {
    margin-bottom: 0;
}

.title-item-list {
    width: 265px;
    font-family: inherit;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: color .6s ease;
    cursor: pointer;
}
.title-item-list:first-child{
    width: 574px;
}
.icon-answer {
    display: block;
    flex-shrink: 0;
    display: block;
    flex-shrink: 0;
    transition: stroke .6s, transform .6s ease;
}
.icon-answer rect, .icon-answer path{
    transition: stroke .6s ease;
}

.title-item-list:hover,
.title-item-list:active,
.icon-answer:hover rect,
.icon-answer:active rect,
.icon-answer:hover path,
.icon-answer:active path {
    color: #0041E8;
    stroke: #0041E8;
}
.title-item-list:focus{
    color: #0041E8;
}

.text-item-list {
    font-family: inherit;
    font-weight: 500 ;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6)  ;
    padding-top: 20px;
}

.btn-answer {
    width: auto;
    background-color: #1c1d20;
    border: none;
    padding: 0;
    margin-left: auto;
    cursor: pointer;
    max-height: 36px;
}

.hidden {
    display: none;
}

.picture {
    width: 34px;
}

.faq-item {
    border-bottom: 1px solid rgba(250, 250, 250, 0.2);
    background-color: #1c1d20;
    padding: 20px 0;
}


.is-active .icon-answer {
    transform: rotate(180deg);
}
.ac .ac-panel {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}
@media screen and (min-width: 768px) {
    .title-item-list {
        width: 485px;
    }
    .text-item-list {
        width: 656px;
        height: 77px;
        padding-top: 24px;
    }
}

@media screen and (min-width: 1440px) {
    .faq-item {
        margin-bottom: 0;
        padding: 31.5px;
    }

    .faq-list {
        display: flex;
        flex-wrap: wrap;
    }

    .faq-list li {
        flex-basis: calc((100% - 64px)/2);
        box-sizing: border-box;
        border-bottom: 1px solid rgba(250, 250, 250, 0.2);
        border-top: 1px solid rgba(250, 250, 250, 0.2);
    }
    
    .faq-list li:nth-child(odd) {
        border-right: 1px solid rgba(250, 250, 250, 0.2);
    }
        .faq-list li:nth-child(1) {
            
        }
    .text-item-list {
        padding-top: 26px;
    }

    .faq-list li:nth-child(-n+4) {
        border-bottom: none;
    }
    .faq-list li:nth-child(2n) {
        padding-right: 0;
    }
    .faq-list li:nth-child(2n+1) {
        padding-left: 0;
    }
}