
@media screen and (min-width: 320px) and (max-width: 374px) {
    .hero-container {
        background-image:
        url(../img/hero/background_tel.png);
        background-repeat: no-repeat; 
        background-size: 80% 100%;
        background-position: left top;
        background-color:linear-gradient(90.11deg, #1C1D20 49.69%, #001958 67.71%, #0041E8 99.91%);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 16px 32px 16px;
    }

  }

.hero-text{
    padding-top: 281px;
}

.break{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.hero-title {
    color: var(--main-text);
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
    width: 343px;
    font-family: "Inter Tight";
}

.hero-social-networks {
    display: flex;
    padding-top: 212px;
}

.hero-info-social {
    display: flex;
     gap: 4px;
}

.hero-list-social{
    display: flex;
}

.social-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: var(--section-text);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-link-social {
    border-radius: 60px;
    border-style: solid;
    border-color:rgba(250, 250, 250, 0.2);
    border-width: 1px;
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-list-social:hover .social-name {
    color:var(--main-text);
}

.hero-link-social:hover,
.hero-email:hover {
    box-shadow: 0 0 14px 2px var(--main-text);
}

.hero-email{
    border-radius: 60px;
    border-style: solid;
    border-color: rgba(250, 250, 250, 0.2);
    border-width: 1px;
    width: 178px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

@media screen and (min-width: 375px) {
    .hero-container {
        background-image:
        url(../img/hero/background_tel.png);
        background-repeat: no-repeat; 
        background-size: 75% 100%;
        background-position: left top;
        background-color:linear-gradient(90.11deg, #1C1D20 49.69%, #001958 67.71%, #0041E8 99.91%);
        width: 100%;
        height: 100%;
        margin: 0 auto;
        padding: 0 16px 32px 16px;
        max-width: 343px;
    }

    .hero-section {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 768px) {
    .hero-social-networks{
        justify-content: flex-end;
        padding-top: 187px;
    }
    .hero-title {
        font-size: 90px;
        line-height: 90px;
        width: 632px;
    }

    .hero-section {
        margin-bottom: 96px;
    }

    .hero-container {
        background-image: url(../img/hero/background_tablet.png); 
        background-size: 70% 100%;
        max-width: 704px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-title {
    margin-left: 178px;
        width: 1084px;
    }

    .hero-container {
        background-image: url(../img/hero/background_laptop.png); 
        background-size: 50% 100%;
        max-width: 1376px;
    }

    .hero-social-networks {
        padding-top: 243px;
    }
}

