.hero-section{
    background-image:
        url(../img/hero-background/Glass-effect.png);
    background-repeat: no-repeat; 
    background-size: 50% 100%;
    background-position: left top;
}


.hero-text{
    padding-top: 281px;
}

.break{
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.hero-title {
    color: var(--main-text);
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: -0.03em;
    width: 343px;
    font-family: "Inter Tight";
}

.hero-social-networks {
    display: flex;
    align-items: center;
    padding-top: 303px;
}

.hero-info-social {
    display: flex;
     gap: 4px;
}

.hero-list-social{
    display: flex;
}

.social-name {
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    letter-spacing: -0.02em;
    color: var(--section-text);
}

.hero-link-social {
    border-radius: 60px;
    border-style: solid;
    border-color:rgba(250, 250, 250, 0.2);
    border-width: 1px;
    width: 37px;
    height: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-email{
    border-radius: 60px;
        border-style: solid;
        border-color: rgba(250, 250, 250, 0.2);
        border-width: 1px;
        width: 178px;
        height: 37px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: relative;
}

@media screen and (min-width: 768px) {
    .hero-social-networks{
        justify-content: flex-end;
    }
        .hero-title {
            font-size: 90px;
            line-height: 90px;
            width: 632px;
        }
}

@media screen and (min-width: 1440px) {
.hero-title {
   margin-left: 178px;
    width: 1084px;
}
}

