@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about_me.css');
@import url('./benefits.css');
@import url('./projects.css');
@import url('./faq.css');
@import url('./covers.css');
@import url('./work_together.css');

:root {
  --accent-color: #0041e8;
  --accent-color-hover: #0041f5;
  --main-text: #fafafa;
  --section-text: rgba(250, 250, 250, 0.4);
  --section-faq-text: rgba(250, 250, 250, 0.4);
  --cards: hsl(220, 4%, 15%);
}

body {
  font-family: 'Inter Tight', sans-serif;
  background-color: #1c1d20;
  color: #fafafa;
}

.section {
  padding-bottom: 64px;
}

@media screen and (min-width: 320px) and (max-width: 374px) {
  .container {
    padding: 0 16px;
  }
}

@media screen and (min-width: 375px) {
  .container {
    padding: 0;
    margin: 0 auto;
    max-width: 343px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 704px;
  }

  .section {
    padding-bottom: 96px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
  }

  .section {
    padding-bottom: 164px;
  }
}
