footer {
  padding-top: 80px;
  padding-bottom: 169px;
  margin: 0;
  background-image: url('../img/work_together/glass_effect2png.png');
  background-repeat: no-repeat;
  background-size: 133% 100%;
  background-position: right top;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: ruby-text;
}

.accenttext {
  color: var(--accent-color);
}

.seactionheader {
  text-transform: uppercase;
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 18px;
}

.seactionheader div {
  display: flex;
  align-items: center;
}

.logo {
  display: inline;
  width: 70px;
  height: 70px;
  margin-right: 8px;
}

.btnsubmit {
  color: var(--main-text);
  background-color: var(--accent-color);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 0;
  margin-left: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btnsubmit:hover {
  background-color: var(--accent-color-hover);
}

.inputsection {
  display: inline;
}

.inputarea {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  border-left: 0;
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  color: var(--main-text);
  background-color: transparent;
  padding: 0 0 20px 0;
  margin-right: 32px;
  width: 390px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.inputarea::placeholder {
  color: var(--section-text);
}

.inputarea:focus,
.inputarea:active {
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
  border-left: 0;
  outline: none;
}

.inputarea:-webkit-autofill,
.inputarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1c1d20 inset !important;
  -webkit-text-fill-color: white !important;
}
.input-container {
  display: inline-block;
}

#email:not(:placeholder-shown):invalid {
  border-bottom: 1px solid #e74a3b;
}
#email:valid + .email-validation-msg::after {
  content: 'Succes!';
  color: #3cbc81;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
}
#email:not(:placeholder-shown):invalid + .email-validation-msg::after {
  content: 'Invalid email, try again';
  color: #e74a3b;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
}
#email:valid {
  border-bottom: 1px solid #3cbc81;
}

#email:focus {
  border-bottom: 1px solid rgba(250, 250, 250, 0.6);
}

#comments {
  text-overflow: ellipsis;
}
.contactarea a {
  font-family: 'Inter Tight', sans-serif;
  color: var(--main-text);
  background-color: transparent;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contactarea a:hover {
  border: 1px solid rgba(250, 250, 250, 1);
}

.contactarea {
  margin-top: 18px;
  gap: 8px;
  display: flex;
}

@media screen and (min-width: 320px) {
  #work_together div {
    max-width: 375px;
  }
  #email:not(:placeholder-shown):invalid + .email-validation-msg::after {
    position: relative;
  }
  #email:valid + .email-validation-msg::after {
    position: relative;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 32px;
    background-size: 150% 100%;
    background-position: right 75% top;
  }
  .seactionheader {
    font-size: 40px;
    margin-bottom: 64px;
  }
  .contactarea {
    gap: 4px
  }
  .logo {
    width: 40px;
    height: 40px;
  }
  .inputarea {
    width: 342px;
    margin-right: 0;
  }
  .btnsubmit {
    margin-left: 0;
    margin-top: 16px;
    height: 100px;
    width: 100px;
  }
  .input-container {
    margin-bottom: 16px;
  }
  .contactarea {
    margin-top: 48px;
  }
  .contactarea a {
    font-size: 14px;
    padding: 10px 12px 10px 12px;
  }
}

@media screen and (min-width: 768px) {
  #work_together div {
    max-width: 768px;
  }
  .inputarea {
    margin-right: 32px;
  }
  footer {
    padding-top: 80px;
    background-size: 125% 100%;
    padding-bottom: 169px;
    background-position: right 33% top;
  }
  .contactarea {
    gap: 8px
  }
  .btnsubmit {
    height: 150px;
    width: 150px;
  }
  .inputarea {
    width: 245px;
    margin-bottom: 0;
  }
  #email:not(:placeholder-shown):invalid + .email-validation-msg::after {
    position: absolute;
  }
  #email:valid + .email-validation-msg::after {
    position: absolute;
  }
}

@media screen and (min-width: 1445px) {
  #work_together div {
    max-width: 1440px;
  }
  footer {
    padding-top: 80px;
    padding-bottom: 169px;
    background-position: right -17% top;
  }
  .inputarea {
    margin-right: 32px;
  }
  .contactarea {
    gap: 8px
  }
  #email:valid + .email-validation-msg::after {
    position: absolute;
  }
  #email:not(:placeholder-shown):invalid + .email-validation-msg::after {
    position: absolute;
  }
  .seactionheader {
    font-size: 64px;
    margin-bottom: 18px;
  }
  .logo {
    height: 70px;
    width: 70px;
  }
  .btnsubmit {
    margin-left: 86px;
    margin-top: 16px;
    height: 150px;
    width: 150px;
  }
  .inputarea {
    width: 390px;
    margin-bottom: 0;
  }
  .contactarea {
    margin-top: 18px;
  }
  .contactarea a {
    font-size: 14px;
    padding: 18px 32px 18px 32px;
  }
}
#modal {
  align-content: center;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(28, 29, 32, 0.6);
  background-size: cover;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  text-align: center;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 9999;
  position: fixed;
}
.title {
  color: var(--main-text);
  margin-bottom: 16px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: -0.42px;
}
.lowercase {
  color: rgba(250, 250, 250, 0.6);
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
}
.modal-container {
  background-color: var(--cards);
  border-radius: 20px;
  border: 1px solid rgba(250, 250, 250, 0.102);
  height: 246px;
  width: 492px;
  padding: 64px;
  position: relative;
  text-align: center;
  margin: auto;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#modal.visible {
  opacity: 1;
}
#modal.visible .modal-container {
  transform: scale(1);
}
.hidden {
  display: none !important;
}
.backdrop {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
